/* line 1, ../sass/reset.sass */
html, body, div, span, h1, h2, h3, p, a, em, img, strong, form, input, ol, ul, li, textarea, table, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* line 12, ../sass/reset.sass */
ol, ul {
  list-style: none;
}

/* line 15, ../sass/reset.sass */
p {
  margin: 0 0 1.5em 0;
}

/* line 18, ../sass/reset.sass */
ol, ul {
  margin: 0 0 1.5em 2em;
}

/* line 21, ../sass/reset.sass */
th, td, caption {
  text-align: left;
  vertical-align: middle;
}

/* line 25, ../sass/reset.sass */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 30, ../sass/reset.sass */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 34, ../sass/reset.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 39, ../sass/reset.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 44, ../sass/reset.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 49, ../sass/reset.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 53, ../sass/reset.sass */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 58, ../sass/reset.sass */
strong, dfn {
  font-weight: bold;
}

/* line 61, ../sass/reset.sass */
em, dfn {
  font-style: italic;
}

/* line 64, ../sass/reset.sass */
sup, sub {
  line-height: 0;
}

/* line 67, ../sass/reset.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 70, ../sass/reset.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 74, ../sass/reset.sass */
del {
  color: #666666;
}

/* line 77, ../sass/reset.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 81, ../sass/reset.sass */
pre, code, tt {
  font: 1em "menlo", "monaco", "consolas", "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 85, ../sass/reset.sass */
th {
  font-weight: bold;
}
