/* line 1, ../sass/_reset.sass */
html, body, div, span, h1, h2, h3, p, a, em, img, strong, form, input, ol, ul, li, textarea, table, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* line 12, ../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 15, ../sass/_reset.sass */
p, ol, ul {
  margin: 0 0 1.5em 0;
}

/* line 18, ../sass/_reset.sass */
th, td, caption {
  text-align: left;
  vertical-align: middle;
}

/* line 22, ../sass/_reset.sass */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 27, ../sass/_reset.sass */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 31, ../sass/_reset.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 36, ../sass/_reset.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 41, ../sass/_reset.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 46, ../sass/_reset.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 50, ../sass/_reset.sass */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 55, ../sass/_reset.sass */
strong, dfn {
  font-weight: bold;
}

/* line 58, ../sass/_reset.sass */
em, dfn {
  font-style: italic;
}

/* line 61, ../sass/_reset.sass */
sup, sub {
  line-height: 0;
}

/* line 64, ../sass/_reset.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 67, ../sass/_reset.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 71, ../sass/_reset.sass */
del {
  color: #666666;
}

/* line 74, ../sass/_reset.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 78, ../sass/_reset.sass */
pre, code, tt {
  font: 1em "menlo", "monaco", "consolas", "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 82, ../sass/_reset.sass */
th {
  font-weight: bold;
}

/* line 7, ../sass/screen.sass */
html {
  font-family: sans-serif;
  background: #e6e6e6;
}

/* line 11, ../sass/screen.sass */
#menu {
  background: #a43737;
  height: 2.75em;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf4040), color-stop(100%, #862d2d));
  background-image: -webkit-linear-gradient(#bf4040, #862d2d);
  background-image: -moz-linear-gradient(#bf4040, #862d2d);
  background-image: -o-linear-gradient(#bf4040, #862d2d);
  background-image: linear-gradient(#bf4040, #862d2d);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0.15em 0.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.15em 0.2em;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0.15em 0.2em;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.15em 0.2em;
}

/* line 18, ../sass/screen.sass */
.menu_items {
  width: 950px;
  margin: 0 auto;
}
/* line 22, ../sass/screen.sass */
.menu_items > li {
  color: #d9d9d9;
  cursor: pointer;
  display: inline;
  float: right;
  padding: 0.35em 1em;
  margin: 0.5em;
  text-align: center;
}
/* line 31, ../sass/screen.sass */
.menu_items > li a {
  color: #d9d9d9;
  text-decoration: none;
}
/* line 35, ../sass/screen.sass */
.menu_items > li:hover {
  color: white;
  background: #913030;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
  -o-border-radius: 5em;
  -ms-border-radius: 5em;
  -khtml-border-radius: 5em;
  border-radius: 5em;
  -moz-box-shadow: #c65353 0 -1px 0 inset;
  -webkit-box-shadow: #c65353 0 -1px 0 inset;
  -o-box-shadow: #c65353 0 -1px 0 inset;
  box-shadow: #c65353 0 -1px 0 inset;
}
/* line 41, ../sass/screen.sass */
.menu_items > li:hover a {
  color: white;
}

/* line 44, ../sass/screen.sass */
.container {
  background: white;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -o-border-top-left-radius: 0.5em;
  -ms-border-top-left-radius: 0.5em;
  -khtml-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -o-border-top-right-radius: 0.5em;
  -ms-border-top-right-radius: 0.5em;
  -khtml-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin-top: 1.5em;
}

/* line 50, ../sass/screen.sass */
.column, #header, .content, form label, form .actions {
  display: inline;
  float: left;
  margin-right: 10px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .column, * html #header, * html .content, * html form label, form * html label, * html form .actions, form * html .actions {
  overflow-x: hidden;
}

/* line 53, ../sass/screen.sass */
#header {
  text-align: center;
  width: 950px;
}
/* line 58, ../sass/screen.sass */
#header h1 {
  color: #b3b3b3;
  padding: 0.5em 0;
  border-bottom: 0.025em solid #e6e6e6;
}

/* line 63, ../sass/screen.sass */
.content {
  background: white;
  margin: 0 0 2.5em 0;
  width: 680px;
  padding-left: 130px;
}

/* line 71, ../sass/screen.sass */
#mp li {
  padding-top: 0.7em;
}
/* line 73, ../sass/screen.sass */
#mp li a {
  color: #333333;
  text-decoration: none;
  font-size: 1.4em;
}
/* line 78, ../sass/screen.sass */
#mp h2 {
  color: black;
  border-bottom: 0.1em solid #f20d0d;
  font-weight: light;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
}

/* line 85, ../sass/screen.sass */
.text_container, form input[type=text], form input[type=password], form textarea {
  border: 1px solid #b3b3b3;
  padding: 0.25em;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
}

/* line 90, ../sass/screen.sass */
.text_container:hover, form input[type=text]:hover, form input[type=password]:hover, form textarea:hover {
  border-color: gray;
}

/* line 93, ../sass/screen.sass */
.text_container:focus, form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  border-color: #f20d0d;
}

/* line 96, ../sass/screen.sass */
form {
  color: #333333;
  font: normal normal 1.2em/1.5em sans-serif;
}
/* line 100, ../sass/screen.sass */
form ul {
  margin: 0;
}
/* line 103, ../sass/screen.sass */
form fieldset {
  padding: 0;
  border: none;
}
/* line 107, ../sass/screen.sass */
form li {
  margin-bottom: 0.3em;
  overflow: auto;
}
/* line 111, ../sass/screen.sass */
form h3 {
  color: black;
  border-bottom: 1px solid #cccccc;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
}
/* line 118, ../sass/screen.sass */
form label {
  text-align: right;
  vertical-align: middle;
  width: 270px;
}
/* line 124, ../sass/screen.sass */
form label.nowrap {
  text-align: left;
  margin-bottom: 1.5em;
  width: inherit;
}
/* line 129, ../sass/screen.sass */
form .desc {
  margin: 0.5em 0;
}
/* line 132, ../sass/screen.sass */
form .desc_left, form .desc_right {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 310px;
}
/* line 140, ../sass/screen.sass */
form input[type=text], form input[type=password] {
  width: 310px;
}
/* line 144, ../sass/screen.sass */
form input[type=submit] {
  color: #4d4d4d;
  cursor: pointer;
  border: 0.1em dashed #666666;
  float: right;
  padding: 0.62em 2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 152, ../sass/screen.sass */
form input[type=submit]:hover {
  border: 0.1em solid #f20d0d;
  color: #c20a0a;
}
/* line 156, ../sass/screen.sass */
form input[type=submit].default {
  color: white;
  background: #f20d0d;
  border: 0.1em solid #f20d0d;
}
/* line 161, ../sass/screen.sass */
form input[type=submit].default[disabled] {
  background: #999999;
  border: 0.1em solid #999999;
}
/* line 165, ../sass/screen.sass */
form input[type=submit].default:hover {
  color: white;
  background: #f42525;
}
/* line 169, ../sass/screen.sass */
form input[type=submit].default:hover[disabled] {
  background: #999999;
  border: 0.1em solid #999999;
}
/* line 173, ../sass/screen.sass */
form textarea {
  height: 4em;
  font-family: sans-serif;
  width: 510px;
}
/* line 179, ../sass/screen.sass */
form .actions {
  height: 3em;
  margin-top: 2em;
  width: 680px;
}
/* line 185, ../sass/screen.sass */
form .actions input[type=submit] {
  margin-left: 1em;
}

/* line 189, ../sass/screen.sass */
.switch {
  background: #f42525;
  border: 0.1em solid gray;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1.3em;
  padding: 0 0.25em;
  text-align: center;
  width: 5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f20d0d 0 1em 0.1em inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f20d0d 0 1em 0.1em inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f20d0d 0 1em 0.1em inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f20d0d 0 1em 0.1em inset;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 204, ../sass/screen.sass */
.switch .switch_text {
  position: relative;
}
/* line 207, ../sass/screen.sass */
.switch .switch_button {
  background: white;
  border: 0.1em solid gray;
  display: inline-block;
  padding: 0.275em 0.75em;
  position: relative;
  right: -22px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#d9d9d9, #ffffff);
  background-image: -moz-linear-gradient(#d9d9d9, #ffffff);
  background-image: -o-linear-gradient(#d9d9d9, #ffffff);
  background-image: linear-gradient(#d9d9d9, #ffffff);
  -moz-box-shadow: #f2f2f2 0 0.15em 0 inset;
  -webkit-box-shadow: #f2f2f2 0 0.15em 0 inset;
  -o-box-shadow: #f2f2f2 0 0.15em 0 inset;
  box-shadow: #f2f2f2 0 0.15em 0 inset;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 218, ../sass/screen.sass */
.switch.off {
  background: white;
  color: #333333;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f5f5f5 0 1em 0.1em inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f5f5f5 0 1em 0.1em inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f5f5f5 0 1em 0.1em inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, #f5f5f5 0 1em 0.1em inset;
}
/* line 223, ../sass/screen.sass */
.switch.off .switch_text {
  right: -35px;
}
/* line 226, ../sass/screen.sass */
.switch.off .switch_button {
  right: 46px;
}

/* line 229, ../sass/screen.sass */
table {
  border-collapse: collapse;
  font-size: 0.8em;
  width: 100%;
}
/* line 234, ../sass/screen.sass */
table th, table td {
  padding: 0.5em 0;
  cursor: pointer;
}
/* line 238, ../sass/screen.sass */
table tbody tr {
  border-top: 0.1em solid #d9d9d9;
}
/* line 241, ../sass/screen.sass */
table tbody tr:hover {
  background: #ffff99;
}
