/* line 1, ../sass/_reset.sass */
html, body, div, span, h1, h2, h3, p, a, em, img, strong, form, input, ol, ul, li, textarea, table, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* line 12, ../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 15, ../sass/_reset.sass */
p {
  margin: 0 0 1.5em 0;
}

/* line 18, ../sass/_reset.sass */
ol, ul {
  margin: 0 0 1.5em 2em;
}

/* line 21, ../sass/_reset.sass */
th, td, caption {
  text-align: left;
  vertical-align: middle;
}

/* line 25, ../sass/_reset.sass */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

/* line 30, ../sass/_reset.sass */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 34, ../sass/_reset.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 39, ../sass/_reset.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 44, ../sass/_reset.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 49, ../sass/_reset.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 53, ../sass/_reset.sass */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 58, ../sass/_reset.sass */
strong, dfn {
  font-weight: bold;
}

/* line 61, ../sass/_reset.sass */
em, dfn {
  font-style: italic;
}

/* line 64, ../sass/_reset.sass */
sup, sub {
  line-height: 0;
}

/* line 67, ../sass/_reset.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 70, ../sass/_reset.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 74, ../sass/_reset.sass */
del {
  color: #666666;
}

/* line 77, ../sass/_reset.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 81, ../sass/_reset.sass */
pre, code, tt {
  font: 1em "menlo", "monaco", "consolas", "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 85, ../sass/_reset.sass */
th {
  font-weight: bold;
}

/* line 7, ../sass/screen.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/screen.sass */
.column, #header, .content, form label, form .actions {
  display: inline;
  float: left;
  margin-right: 10px;
}
/* line 147, C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .column, * html #header, * html .content, * html form label, form * html label, * html form .actions, form * html .actions {
  overflow-x: hidden;
}

/* line 13, ../sass/screen.sass */
#header {
  font-family: sans-serif;
  margin-top: 1em;
  width: 950px;
}
/* line 19, ../sass/screen.sass */
#header h1 {
  margin: auto 0;
}

/* line 22, ../sass/screen.sass */
.content {
  background: white;
  margin: 0 0 2.5em 0;
  width: 680px;
  padding-left: 130px;
}
/* line 29, ../sass/screen.sass */
.content h2 {
  color: #666666;
  font-weight: light;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: white;
  background: #f20d0d;
  padding: 0.5em;
}

/* line 38, ../sass/screen.sass */
.textcontainer, form input[type=text], form input[type=password], form textarea {
  border: 1px solid #b3b3b3;
  padding: 0.25em;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0px inset;
}

/* line 43, ../sass/screen.sass */
.textcontainer:focus, form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  border-color: #f20d0d;
}

/* line 46, ../sass/screen.sass */
form {
  color: #333333;
  font: normal normal 1.2em/1.5em sans-serif;
}
/* line 50, ../sass/screen.sass */
form ul {
  margin-left: 0;
}
/* line 53, ../sass/screen.sass */
form fieldset {
  padding: 0;
  border: none;
}
/* line 57, ../sass/screen.sass */
form li {
  margin-bottom: 0.3em;
}
/* line 60, ../sass/screen.sass */
form h3 {
  color: black;
  border-bottom: 1px solid #cccccc;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
}
/* line 67, ../sass/screen.sass */
form label {
  text-align: right;
  vertical-align: middle;
  width: 190px;
}
/* line 73, ../sass/screen.sass */
form label.nowrap {
  text-align: left;
  margin-bottom: 1.5em;
  width: inherit;
}
/* line 80, ../sass/screen.sass */
form input[type=text], form input[type=password] {
  width: 310px;
}
/* line 85, ../sass/screen.sass */
form input[type=submit] {
  color: #4d4d4d;
  border: 0.1em dashed #666666;
  float: right;
  padding: 0.62em 0.5em;
  width: 150px;
}
/* line 92, ../sass/screen.sass */
form input[type=submit]:hover {
  border: 0.1em solid #f20d0d;
  color: #c20a0a;
}
/* line 96, ../sass/screen.sass */
form input[type=submit]:active {
  position: relative;
  top: 1px;
}
/* line 100, ../sass/screen.sass */
form input[type=submit].default {
  color: white;
  background: #f20d0d;
  border: 0.1em solid #f20d0d;
}
/* line 105, ../sass/screen.sass */
form input[type=submit].default:hover {
  color: white;
  background: #f42525;
}
/* line 109, ../sass/screen.sass */
form input[type=submit].default:active {
  background: #da0b0b;
  padding: 0.62em 0.5em;
}
/* line 113, ../sass/screen.sass */
form textarea {
  height: 4em;
  font-family: sans-serif;
  width: 510px;
}
/* line 119, ../sass/screen.sass */
form .actions {
  height: 3em;
  margin-top: 2em;
  width: 680px;
}
/* line 125, ../sass/screen.sass */
form .actions input[type=submit] {
  margin-left: 1em;
}
