@import base

$menu_color: hsl(0, 50, 50)
$color : saturate($menu_color, 40)

html
  font-family: sans-serif
  background: hsl(0, 0, 90)

#menu
  background: darken($menu_color, 7)
  height: 2.75em
  width: 100%
  @include background_image(linear_gradient($menu_color, darken($menu_color, 15)))
  @include box_shadow(rgba(0, 0, 0, 0.5) 0 0.15em 0.2em)

.menu_items
  width: 950px
  margin: 0 auto

  & > li
    color: hsl(0, 0, 85)
    cursor: pointer
    display: inline
    float: right
    padding: 0.35em 1em
    margin: 0.5em
    text-align: center

  & > li:hover
    color: white
    background: darken($menu_color, 12)
    @include border-radius(5em)
    @include box_shadow(lighten($menu_color, 5) 0 -1px 0 inset)

.container
  background: white
  @include container
  @include border_top_radius(0.5em)
  margin-top: 1.5em

.column
  @include column-base

#header
  text-align: center
  @extend .column
  @include span(24)

  h1
    color: hsl(0, 0, 70)
    padding: 0.5em 0
    border-bottom: 0.025em solid hsl(0, 0, 90)

.content
  background: white
  margin: 0 0 2.5em 0
  @extend .column
  @include span(17.25)
  @include prepend(3.25)

  h2
    color: black
    border-bottom: 0.1em solid $color
    font-weight: light
    margin-bottom: 0.5em
    padding: 0.5em 0

.text_container
  border: 1px solid hsl(0, 0, 70)
  padding: 0.25em
  @include box-shadow(rgba(0, 0, 0, 0.30) 0 1px 3px 0px inset)

.text_container:hover
  border-color: hsl(0, 0, 50)

.text_container:focus
  border-color: $color

form
  color: hsl(0, 0, 20)
  font: normal normal 1.2em/1.5em sans-serif

  ul
    margin: 0

  fieldset
    padding: 0
    border: none

  li
    margin-bottom: 0.3em

  h3
    color: black
    border-bottom: 1px solid hsl(0, 0, 80)
    margin-top: 1em
    margin-bottom: 0.5em
    padding-bottom: 0.25em

  label
    text-align: right
    vertical-align: middle
    @extend .column
    @include span(5)
    
    &.nowrap
      text-align: left
      margin-bottom: 1.5em
      width: inherit

  input

    &[type=text], &[type=password]
      @extend .text_container
      @include span(8)


    &[type=submit]
      color: hsl(0, 0, 30)
      cursor: pointer
      border: 0.1em dashed hsl(0, 0, 40)
      float: right
      padding: 0.62em 0.5em 
      @include span(4)
      @include border_radius(0.2em)

      &:hover
        border: 0.1em solid $color
        color: darken($color, 10)

      &:active
        position: relative
        top: 1px

      &.default
        color: white
        background: $color
        border: 0.1em solid $color
          
      &.default:hover
        color: white
        background: lighten($color, 5)

      &.default:active
        background: darken($color, 5)
        padding: 0.62em 0.5em

  textarea
    height: 4em
    font-family: sans-serif
    @extend .text_container
    @include span(13)

  .actions
    height: 3em
    margin-top: 2em
    @extend .column
    @include span(17.25)

    input[type=submit]
      margin-left: 1em


.switch
  background: lighten($color, 5)
  border: 0.1em solid hsl(0, 0, 50)
  color: white
  cursor: pointer
  display: inline-block
  font-size: 0.85em
  font-weight: bold
  line-height: 1.3em
  padding: 0 0.25em
  text-align: center
  width: 5em
  @include box-shadow(rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, $color 0 1em 0.1em inset)
  @include border_radius(2em)

  .switch_text
    position: relative

  .switch_button
    background: white
    border: 0.1em solid hsl(0, 0, 50)
    display: inline-block
    padding: 0.275em 0.75em
    position: relative
    right: -22px
    @include background_image(linear-gradient(darken(white, 15), white))
    @include box-shadow(darken(white, 5) 0 0.15em 0 inset)
    @include border_radius(2em)
  
  &.off
    background: white
    color: hsl(0, 0, 20)
    @include box-shadow(rgba(0, 0, 0, 0.2) 0 0.15em 0.2em inset, darken(white, 4) 0 1em 0.1em inset)

    .switch_text
      right: -35px

    .switch_button
      right: 46px

table
  border-collapse: collapse
  font-size: 0.8em
  width: 100%

  th, td
    padding: 0.5em 0
    cursor: pointer

  tbody tr
    border-top: 0.1em solid hsl(0, 0, 85)

  tbody tr:hover
    background: hsl(60, 100, 80)
