<%@ page trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
!!! 5
%html(lang="es")
  %head
    %title Login
    %link(href="${pageContext.request.contextPath}/assets/stylesheets/screen.css"
          rel="stylesheet" type="text/css")/ 
  %body
    .container
      #header
        %h1 Mantenimiento de Equipos
      %ul.content
        %li 
          %form
            %ul
              %li
                %h2 Datos del Equipo
              %li
                %h3 Datos Basicos
              %li
                %label(for="nombre") Texto
                %input#nombre(type="text")
              %li
                %label(for="pwd") Password
                %input#pwd(type="password")
              %li
                %h3 Prioridades
              %li
                %fieldset
                  %legend Datos seleccionables
                  %ul
                    %li
                      %label(for="radio1") Radio 1
                      %input#radio1(name="radio" type="Radio" value="1")
                    %li
                      %label(for="radio2") Radio 2
                      %input#radio2(name="radio" type="radio"value="1")
                    %li
                      %label(for="radio3") Radio 3
                      %input#radio3(name="radio" type="radio" value="1")
              %li 
                %h3 Metadatos
              %li
                %label(for="check") Checkbox
                %input#check(type="checkbox")
              %li
                %h3 Supertextos
              %li
                %label(for="texto" class="nowrap") Ingresa una descripcion del problema:
              %li
                %textarea#texto
              %li
                .actions
                  %input.default(type="submit" value="Enviar")
                  %input(type="submit" value="Cancelar")
