<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>proyecto</display-name>
  <welcome-file-list>
  	<welcome-file>main</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>main</description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>app.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EquipoAPI</display-name>
    <servlet-name>EquipoAPI</servlet-name>
    <servlet-class>app.api.EquipoAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipoAPI</servlet-name>
    <url-pattern>/api/equipo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioAPI</display-name>
    <servlet-name>UsuarioAPI</servlet-name>
    <servlet-class>app.api.UsuarioAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioAPI</servlet-name>
    <url-pattern>/api/usuario/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityServlet</display-name>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>app.servlets.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/security/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudServlet</display-name>
    <servlet-name>SolicitudServlet</servlet-name>
    <servlet-class>app.servlets.SolicitudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudServlet</servlet-name>
    <url-pattern>/solicitud/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemplosServlet</display-name>
    <servlet-name>EjemplosServlet</servlet-name>
    <servlet-class>app.servlets.EjemplosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemplosServlet</servlet-name>
    <url-pattern>/ejemplos/*</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>45</session-timeout> 
  </session-config>
</web-app>