<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>proyecto</display-name>
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>main</description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>app.servlets.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityServlet</display-name>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>app.servlets.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/security/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitudServlet</display-name>
    <servlet-name>SolicitudServlet</servlet-name>
    <servlet-class>app.servlets.SolicitudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitudServlet</servlet-name>
    <url-pattern>/solicitud/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjemplosServlet</display-name>
    <servlet-name>EjemplosServlet</servlet-name>
    <servlet-class>app.servlets.EjemplosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjemplosServlet</servlet-name>
    <url-pattern>/ejemplos/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReparacionServlet</display-name>
    <servlet-name>ReparacionServlet</servlet-name>
    <servlet-class>app.servlets.ReparacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReparacionServlet</servlet-name>
    <url-pattern>/reparacion/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <context-param>
    <description>
   	Recursos
  	</description>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>app.resources.app</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>I18NServlet</display-name>
    <servlet-name>I18NServlet</servlet-name>
    <servlet-class>app.servlets.I18NServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>I18NServlet</servlet-name>
    <url-pattern>/i18n/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidateSessionFilter</display-name>
    <filter-name>ValidateSessionFilter</filter-name>
    <filter-class>app.filters.ValidateSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateSessionFilter</filter-name>
    <url-pattern>/equipos</url-pattern>
    <url-pattern>/equipos/agregar</url-pattern>
    <url-pattern>/equipos/actualizar</url-pattern>
    <url-pattern>/equipos/eliminar</url-pattern>
    <url-pattern>/reparacion/asignar</url-pattern>
    <url-pattern>/reparacion/historial</url-pattern>
    <url-pattern>/reparacion/diagnostico</url-pattern>
    <url-pattern>/reparacion/reparacion</url-pattern>
    <url-pattern>/solicitud</url-pattern>
    <url-pattern>/security/usuarios</url-pattern>
    <url-pattern>/security/perfiles</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>nanana</servlet-name>
    <jsp-file>/nanana.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nanana</servlet-name>
    <url-pattern>/nanana</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filtro</filter-name>
    <filter-class>
  		app.filters.ValidateSessionFilter
  	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtro</filter-name>
    <servlet-name>nanana</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>app.listeners.DeafListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>EquiposServlet</display-name>
    <servlet-name>EquiposServlet</servlet-name>
    <servlet-class>app.servlets.EquiposServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquiposServlet</servlet-name>
    <url-pattern>/equipos/*</url-pattern>
  </servlet-mapping>
</web-app>